$primary_color: #282c34;
$font-stack: Helvetica, sans-serif;
$link_color: #61dafb;
$color: #fff;
$secondary_color: pink;
$info_color: #09d3ac;

body {
    font: 100% $font-stack;
    color: $primary_color;
  }
  