@import "reset";
@import 'base';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $primary_color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color;
}

.Button {
  color: $color;
  margin: 10px;
  border: 1px solid #dadde1;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.App-primary {
  @extend .Button;
  background-color: $primary_color;
}

.App-secondary {
  @extend .Button;
  background-color: $secondary_color;
}

.App-info {
  @extend .Button;
  background-color: $info_color;
}

.App-link {
  @extend .Button;
  background-color: none;
  border: none;
  text-decoration: underline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
